In [1]:
import pandas as pd

In [6]:
trial = pd.read_csv('trial.csv')

In [5]:
trial

   id,interwencja,wiek,plec,zgon
0           1,lek,30,kobieta,tak
1           2,lek,31,kobieta,tak
2         3,lek,20,mężczyzna,tak
3         4,lek,33,mężczyzna,tak
4           5,lek,43,kobieta,tak
5           6,lek,22,kobieta,tak
6         7,lek,33,mężczyzna,tak
7         8,lek,23,mężczyzna,nie
8           9,lek,32,kobieta,nie
9          10,lek,19,kobieta,nie
10   11,placebo,33,mężczyzna,tak
11   12,placebo,23,mężczyzna,tak
12     13,placebo,32,kobieta,tak
13     14,placebo,19,kobieta,nie
14   15,placebo,41,mężczyzna,nie
15   16,placebo,40,mężczyzna,nie
16     17,placebo,19,kobieta,nie
17     18,placebo,20,kobieta,nie
18   19,placebo,33,mężczyzna,nie
19   20,placebo,22,mężczyzna,nie

In [7]:
trial = pd.read_excel('trial.xlsx')

In [8]:
trial

    id interwencja  wiek       plec zgon
0    1         lek    30    kobieta  tak
1    2         lek    31    kobieta  tak
2    3         lek    20  mężczyzna  tak
3    4         lek    33  mężczyzna  tak
4    5         lek    43    kobieta  tak
5    6         lek    22    kobieta  tak
6    7         lek    33  mężczyzna  tak
7    8         lek    23  mężczyzna  nie
8    9         lek    32    kobieta  nie
9   10         lek    19    kobieta  nie
10  11     placebo    33  mężczyzna  tak
11  12     placebo    23  mężczyzna  tak
12  13     placebo    32    kobieta  tak
13  14     placebo    19    kobieta  nie
14  15     placebo    41  mężczyzna  nie
15  16     placebo    40  mężczyzna  nie
16  17     placebo    19    kobieta  nie
17  18     placebo    20    kobieta  nie
18  19     placebo    33  mężczyzna  nie
19  20     placebo    22  mężczyzna  nie

In [9]:
type(trial)

pandas.core.frame.DataFrame

In [10]:
trial.columns

Index(['id', 'interwencja', 'wiek', 'plec', 'zgon'], dtype='object')

In [11]:
trial['wiek']

0     30
1     31
2     20
3     33
4     43
5     22
6     33
7     23
8     32
9     19
10    33
11    23
12    32
13    19
14    41
15    40
16    19
17    20
18    33
19    22
Name: wiek, dtype: int64

In [12]:
type(trial['wiek'])

pandas.core.series.Series

In [13]:
trial['wiek'][:4]

0    30
1    31
2    20
3    33
Name: wiek, dtype: int64

In [14]:
trial['wiek'][-4:]

16    19
17    20
18    33
19    22
Name: wiek, dtype: int64

In [15]:
trial['wiek'][4]

43

In [23]:
trial2 = pd.read_excel('trial2.xls', index_col='id')

In [24]:
trial2

    interwencja  wiek       plec zgon
id
1           lek    30    kobieta  tak
2           lek    31    kobieta  tak
3           lek    20  mężczyzna  tak
4           lek    33  mężczyzna  tak
5           lek    43    kobieta  tak
6           lek    22    kobieta  tak
7           lek    33  mężczyzna  tak
8           lek    23  mężczyzna  nie
9           lek    32    kobieta  nie
10          lek    19    kobieta  nie
101     placebo    33  mężczyzna  tak
102     placebo    23  mężczyzna  tak
103     placebo    32    kobieta  tak
104     placebo    19    kobieta  nie
105     placebo    41  mężczyzna  nie
106     placebo    40  mężczyzna  nie
107     placebo    19    kobieta  nie
108     placebo    20    kobieta  nie
109     placebo    33  mężczyzna  nie
110     placebo    22  mężczyzna  nie

In [27]:
trial2['wiek'][108]

20

In [28]:
trial2['plec'][101]

'mężczyzna'

In [30]:
id_pacjenta = 103

if trial2['zgon'][id_pacjenta] == 'tak':
  print(trial2['interwencja'][id_pacjenta])

placebo

In [31]:
trial2['interwencja'][110] = 'lek'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
trial2

    interwencja  wiek       plec zgon
id
1           lek    30    kobieta  tak
2           lek    31    kobieta  tak
3           lek    20  mężczyzna  tak
4           lek    33  mężczyzna  tak
5           lek    43    kobieta  tak
6           lek    22    kobieta  tak
7           lek    33  mężczyzna  tak
8           lek    23  mężczyzna  nie
9           lek    32    kobieta  nie
10          lek    19    kobieta  nie
101     placebo    33  mężczyzna  tak
102     placebo    23  mężczyzna  tak
103     placebo    32    kobieta  tak
104     placebo    19    kobieta  nie
105     placebo    41  mężczyzna  nie
106     placebo    40  mężczyzna  nie
107     placebo    19    kobieta  nie
108     placebo    20    kobieta  nie
109     placebo    33  mężczyzna  nie
110         lek    22  mężczyzna  nie

In [33]:
trial

    id interwencja  wiek       plec zgon
0    1         lek    30    kobieta  tak
1    2         lek    31    kobieta  tak
2    3         lek    20  mężczyzna  tak
3    4         lek    33  mężczyzna  tak
4    5         lek    43    kobieta  tak
5    6         lek    22    kobieta  tak
6    7         lek    33  mężczyzna  tak
7    8         lek    23  mężczyzna  nie
8    9         lek    32    kobieta  nie
9   10         lek    19    kobieta  nie
10  11     placebo    33  mężczyzna  tak
11  12     placebo    23  mężczyzna  tak
12  13     placebo    32    kobieta  tak
13  14     placebo    19    kobieta  nie
14  15     placebo    41  mężczyzna  nie
15  16     placebo    40  mężczyzna  nie
16  17     placebo    19    kobieta  nie
17  18     placebo    20    kobieta  nie
18  19     placebo    33  mężczyzna  nie
19  20     placebo    22  mężczyzna  nie

In [34]:
trial.wiek

0     30
1     31
2     20
3     33
4     43
5     22
6     33
7     23
8     32
9     19
10    33
11    23
12    32
13    19
14    41
15    40
16    19
17    20
18    33
19    22
Name: wiek, dtype: int64

In [35]:
trial['wiek']

0     30
1     31
2     20
3     33
4     43
5     22
6     33
7     23
8     32
9     19
10    33
11    23
12    32
13    19
14    41
15    40
16    19
17    20
18    33
19    22
Name: wiek, dtype: int64

In [36]:
trial.zgon.value_counts()

nie    10
tak    10
Name: zgon, dtype: int64

In [37]:
trial.describe()

             id      wiek
count  20.00000  20.00000
mean   10.50000  28.40000
std     5.91608   7.85661
min     1.00000  19.00000
25%     5.75000  21.50000
50%    10.50000  30.50000
75%    15.25000  33.00000
max    20.00000  43.00000

In [39]:
trial

    id interwencja  wiek       plec zgon
0    1         lek    30    kobieta  tak
1    2         lek    31    kobieta  tak
2    3         lek    20  mężczyzna  tak
3    4         lek    33  mężczyzna  tak
4    5         lek    43    kobieta  tak
5    6         lek    22    kobieta  tak
6    7         lek    33  mężczyzna  tak
7    8         lek    23  mężczyzna  nie
8    9         lek    32    kobieta  nie
9   10         lek    19    kobieta  nie
10  11     placebo    33  mężczyzna  tak
11  12     placebo    23  mężczyzna  tak
12  13     placebo    32    kobieta  tak
13  14     placebo    19    kobieta  nie
14  15     placebo    41  mężczyzna  nie
15  16     placebo    40  mężczyzna  nie
16  17     placebo    19    kobieta  nie
17  18     placebo    20    kobieta  nie
18  19     placebo    33  mężczyzna  nie
19  20     placebo    22  mężczyzna  nie

In [41]:
trial.loc[0, 'wiek']

30

In [42]:
trial.loc[:5, 'wiek']

0    30
1    31
2    20
3    33
4    43
5    22
Name: wiek, dtype: int64

In [43]:
trial.loc[:5, ['wiek', 'plec']]

   wiek       plec
0    30    kobieta
1    31    kobieta
2    20  mężczyzna
3    33  mężczyzna
4    43    kobieta
5    22    kobieta

In [44]:
trial.loc[5]

id                   6
interwencja        lek
wiek                22
plec           kobieta
zgon               tak
Name: 5, dtype: object

In [46]:
trial.loc[10, 'zgon']

'tak'

In [48]:
trial.loc[10, ['interwencja','zgon']]

interwencja    placebo
zgon               tak
Name: 10, dtype: object

In [51]:
trial.loc[4:10:2, ['interwencja','zgon']]

   interwencja zgon
4          lek  tak
6          lek  tak
8          lek  nie
10     placebo  tak

In [52]:
trial

    id interwencja  wiek       plec zgon
0    1         lek    30    kobieta  tak
1    2         lek    31    kobieta  tak
2    3         lek    20  mężczyzna  tak
3    4         lek    33  mężczyzna  tak
4    5         lek    43    kobieta  tak
5    6         lek    22    kobieta  tak
6    7         lek    33  mężczyzna  tak
7    8         lek    23  mężczyzna  nie
8    9         lek    32    kobieta  nie
9   10         lek    19    kobieta  nie
10  11     placebo    33  mężczyzna  tak
11  12     placebo    23  mężczyzna  tak
12  13     placebo    32    kobieta  tak
13  14     placebo    19    kobieta  nie
14  15     placebo    41  mężczyzna  nie
15  16     placebo    40  mężczyzna  nie
16  17     placebo    19    kobieta  nie
17  18     placebo    20    kobieta  nie
18  19     placebo    33  mężczyzna  nie
19  20     placebo    22  mężczyzna  nie

In [53]:
trial.loc[5:10, 'wiek':'zgon']

    wiek       plec zgon
5     22    kobieta  tak
6     33  mężczyzna  tak
7     23  mężczyzna  nie
8     32    kobieta  nie
9     19    kobieta  nie
10    33  mężczyzna  tak

In [57]:
trial.loc[trial.zgon == 'tak', 'wiek'].describe()

count    10.00000
mean     30.00000
std       6.78233
min      20.00000
25%      24.75000
50%      31.50000
75%      33.00000
max      43.00000
Name: wiek, dtype: float64

In [58]:
trial.loc[trial.zgon == 'nie', 'wiek'].describe()

count    10.000000
mean     26.800000
std       8.866917
min      19.000000
25%      19.250000
50%      22.500000
75%      32.750000
max      41.000000
Name: wiek, dtype: float64

In [59]:
trial.loc[4, 'wiek']

43

In [60]:
trial.loc[4:101, 'wiek']

4     43
5     22
6     33
7     23
8     32
9     19
10    33
11    23
12    32
13    19
14    41
15    40
16    19
17    20
18    33
19    22
Name: wiek, dtype: int64

In [64]:
trial.loc[4:, ['wiek', 'id']]

    wiek  id
4     43   5
5     22   6
6     33   7
7     23   8
8     32   9
9     19  10
10    33  11
11    23  12
12    32  13
13    19  14
14    41  15
15    40  16
16    19  17
17    20  18
18    33  19
19    22  20

In [67]:
trial[['wiek', 'zgon']]

    wiek zgon
0     30  tak
1     31  tak
2     20  tak
3     33  tak
4     43  tak
5     22  tak
6     33  tak
7     23  nie
8     32  nie
9     19  nie
10    33  tak
11    23  tak
12    32  tak
13    19  nie
14    41  nie
15    40  nie
16    19  nie
17    20  nie
18    33  nie
19    22  nie

In [68]:
trial.loc[:, ['zgon', 'wiek']]

   zgon  wiek
0   tak    30
1   tak    31
2   tak    20
3   tak    33
4   tak    43
5   tak    22
6   tak    33
7   nie    23
8   nie    32
9   nie    19
10  tak    33
11  tak    23
12  tak    32
13  nie    19
14  nie    41
15  nie    40
16  nie    19
17  nie    20
18  nie    33
19  nie    22

In [76]:
trial.loc[:5, :]

   id interwencja  wiek       plec zgon
0   1         lek    30    kobieta  tak
1   2         lek    31    kobieta  tak
2   3         lek    20  mężczyzna  tak
3   4         lek    33  mężczyzna  tak
4   5         lek    43    kobieta  tak
5   6         lek    22    kobieta  tak

# To jest tabela

In [77]:
trial

    id interwencja  wiek       plec zgon
0    1         lek    30    kobieta  tak
1    2         lek    31    kobieta  tak
2    3         lek    20  mężczyzna  tak
3    4         lek    33  mężczyzna  tak
4    5         lek    43    kobieta  tak
5    6         lek    22    kobieta  tak
6    7         lek    33  mężczyzna  tak
7    8         lek    23  mężczyzna  nie
8    9         lek    32    kobieta  nie
9   10         lek    19    kobieta  nie
10  11     placebo    33  mężczyzna  tak
11  12     placebo    23  mężczyzna  tak
12  13     placebo    32    kobieta  tak
13  14     placebo    19    kobieta  nie
14  15     placebo    41  mężczyzna  nie
15  16     placebo    40  mężczyzna  nie
16  17     placebo    19    kobieta  nie
17  18     placebo    20    kobieta  nie
18  19     placebo    33  mężczyzna  nie
19  20     placebo    22  mężczyzna  nie